<div class="page">
  <div class="page-title">
    <h2>GameBoards</h2>
    <%= link_to 'New Game', new_game_board_state_path, class: "nav-btn" %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Game #</th>
        <th>Generation</th>
        <th>Population</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% if @game_boards.size == 0%>
      <tr>
        <td colspan="5" class="td-colspan">
          <h5>No games to list.</h5>
          <p>Use the 'New Game' to create one</p>
        </td>
      </tr>
    <% else %>
      <% @game_boards.each do |game| %>
      <tr>
        <td style="text-align: right;"><%= "##{game.id}"%></td>
        <td style="text-align: right;"><%= "#{game.generation}"%></td>
        <td style="text-align: center;"><%= "#{game.population_count} live cells"%></td>
        <td style="text-align: center;"><%= Time.current.strftime("%A %d, %b %Y -  %I:%M %p") %><td>
        <td style="display: flex; flex-direction: row;">
          <%= link_to 'View', game_board_state_path(game), class: "nav-btn" %>
          &nbsp;
          <%= button_to 'Delete', game_board_state_path(game), method: :delete, class: "nav-btn" %> 
        <td>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
