<div class="page">
  <div class="page-title">
    <h2><%= "GameBoard ##{@game_board_state.id}"%></h2>
    <%= link_to 'Back', game_board_states_path, class: "nav-btn" %>
  </div>
  <div class="panel-board">
    <div>
      <%= render @game_board_state %>
    </div>
    <div class="grid-controls-container">
      <%= button_to 'Reset board', reset_game_board_state_path(@game_board_state), method: :patch, class: "nav-btn" %>
      <%= button_to 'Next Generation', new_generation_game_board_state_path(@game_board_state), method: :patch, class: "nav-btn" %>
      <%= button_to 'Delete', game_board_state_path(@game_board_state), method: :delete, class: "nav-btn" %> 
    </div>
  </div>
</div>
