<div class="login-container">
  <div class="card">
    <div class="card-header">
      <h2>Log in</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, autocomplete: "current-password" %>

      <div class="form-controls">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
